<ng-repeat="section in slides">
    <ng-if="section.length == 1" ng-init="slide = section[0]">
        <ng-init="src = (typeof(collection) !== 'undefined') ? collection+"/"+slide : slide">
            <ng-if="src.split('.').length==1">
                <section ng-include="'./slides/'+src+'.html'" id="src+'.html'"></section>
            </ng-if>
            <ng-if="src.split('.').pop()==='md'">
                <section id="src" data-markdown data-separator="^---$"><script ng-include="'./slides/'+src" type="text/template"></script></section>
            </ng-if>
        </ng-init>
    </ng-if>
    <ng-if="section.length > 1">
        <ng-repeat="slide in section">
            <ng-init="src = typeof(collection) !== 'undefined' ? collection+"/"+slide : slide">
                <ng-if="src.split('.').length==1">
                    <section ng-include="'./slides/'+src+'.html'" id="src+'.html'"></section>
                </ng-if>
                <ng-if="src.split('.').pop()==='md'">
                    <section id="src" data-markdown data-separator="^---$"><script ng-include="'./slides/'+src" type="text/template"></script></section>
                </ng-if>
            </ng-init>
        </ng-repeat>
    </ng-if>
</ng-repeat>
